<nav class="navbar">

    <div class="navbar-left">
        <a href="#" class="logo"><img src="../static/icons/logo.svg" alt="linkedin logo"></a>
        <div class="search-box">
            <img src="../static/icons/search.svg" alt="searchicon">
            <input  type="text" placeholder="Search">
        </div>
    </div>
    <div class="navbar-center">
        <ul>
            <li><a href="" class="active-link"><img src="../static/icons/home.png"><span>Home</span> </a></li>
            <li><a href=""><img src="../static/icons/my-network.png"><span>My Network</span> </a></li>
            <li><a href=""><img src="../static/icons/jobs.png"><span>Jobs</span> </a></li>
            <li><a href=""><img src="../static/icons/messaging.png"><span>Messaging</span> </a></li>
            <li><a href=""><img src="../static/icons/notification.png"><span>Notification</span> </a></li>

        </ul>
    </div>

    <div class="navbar-right">
        <div class="online">
            <img src="../static/icons/photo.jpg" class="nav-profile-img">
        </div>

    </div>

</nav>